@model List<ClinicaVeterinaria.Models.Bichinho>

<div style="margin-top: 20px; padding:20px">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <label style="font-size:50px; font-family:fantasy">Adoção</label>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Bichinho</th>
                <th scope="col">Tipo</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bichinho in Model)
            {
                <tr>
                    <th scope="row">@bichinho.Id</th>
                    <td>@bichinho.Nome</td>
                    <td>@bichinho.Tipo</td>
                    <td><a href="@Url.Action("AlterarBichinho", "Bichinhos", new { id = bichinho.Id })" class="btn btn-dark">Alterar</a></td>
                    <td><a href="@Url.Action("Remover", "Bichinhos", new { id = bichinho.Id })" class="btn btn-dark">Excluir</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>

